$pageBackgroundDark: #141414;
$typographyDark: #dfdfdf;
$containerDark: #282828;

:export {
    pageBackgroundDark: $pageBackgroundDark;
    typographyDark: $typographyDark;
    containerDark: $containerDark;
}