$pageBackgroundLight: #ffffff;
$typographyLight: #000000;
$containerLight: #F5F7FF;

:export {
    pageBackgroundLight: $pageBackgroundLight;
    typographyLight: $typographyLight;
    containerLight: $containerLight;
}